Commons/src/main/resources/wsdl/DataProvider.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.commons.textan.ufal.mff.cuni.cz"    
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tns="http://models.commons.textan.ufal.mff.cuni.cz/dataProvider"
    xmlns:cms="http://models.commons.textan.ufal.mff.cuni.cz"
    xmlns:ws="http://ws.commons.textan.ufal.mff.cuni.cz">
    
    <wsdl:types>
        <xs:schema targetNamespace="http://models.commons.textan.ufal.mff.cuni.cz/dataProvider">
            <xs:include schemaLocation="../schemas/DataProviderPartsTypes.xsd"/>
        </xs:schema>
    </wsdl:types>
        
    <wsdl:message name="usernameToken">
        <wsdl:part name="usernameToken" element="cms:usernameToken"/>
    </wsdl:message>
    
    <wsdl:message name="getObjectTypesRequest">
        <wsdl:part name="getObjectTypesRequest" element="tns:getObjectTypesRequest"/>
    </wsdl:message>
    
    <wsdl:message name="getObjectTypesResponse">
        <wsdl:part name="getObjectTypesResponse" element="tns:getObjectTypesResponse"/>
    </wsdl:message>
    
    <wsdl:message name="getObjectRequest">
        <wsdl:part name="getObjectRequest" element="tns:getObjectRequest"/>
    </wsdl:message>
    
    <wsdl:message name="getObjectResponse">
        <wsdl:part name="getObjectResponse" element="tns:getObjectResponse"/>
    </wsdl:message>

    <wsdl:message name="getObjectsByIdsRequest">
        <wsdl:part name="getObjectsByIdsRequest" element="tns:getObjectsByIdsRequest"/>
    </wsdl:message>

    <wsdl:message name="getObjectsByIdsResponse">
        <wsdl:part name="getObjectsByIdsResponse" element="tns:getObjectsByIdsResponse"/>
    </wsdl:message>

    <wsdl:message name="getObjectsRequest">
        <wsdl:part name="getObjectsRequest" element="tns:getObjectsRequest"/>
    </wsdl:message>
    
    <wsdl:message name="getObjectsResponse">
        <wsdl:part name="getObjectsResponse" element="tns:getObjectsResponse"/>
    </wsdl:message>
    
    <!--<wsdl:message name="getObjectsByType">-->
        <!--<wsdl:part name="getObjectsByType" element="tns:getObjectsByType"/>-->
    <!--</wsdl:message>-->
    <!---->
    <!--<wsdl:message name="getObjectsByTypeResponse">-->
        <!--<wsdl:part name="getObjectsByTypeResponse" element="tns:getObjectsByTypeResponse"/>-->
    <!--</wsdl:message>-->
    
    <wsdl:message name="getObjectsByTypeIdRequest">
        <wsdl:part name="getObjectsByTypeIdRequest" element="tns:getObjectsByTypeIdRequest"/>
    </wsdl:message>
    
    <wsdl:message name="getObjectsByTypeIdResponse">
        <wsdl:part name="getObjectsByTypeIdResponse" element="tns:getObjectsByTypeIdResponse"/>
    </wsdl:message>
    
    <wsdl:message name="getFilteredObjectsRequest">
        <wsdl:part name="getFilteredObjectsRequest" element="tns:getFilteredObjectsRequest"/>
    </wsdl:message>
    
    <wsdl:message name="getFilteredObjectsResponse">
        <wsdl:part name="getFilteredObjectsResponse" element="tns:getFilteredObjectsResponse"/>
    </wsdl:message>
    
    <wsdl:message name="getRelationTypesRequest">
        <wsdl:part name="getRelationTypesRequest" element="tns:getRelationTypesRequest"/>
    </wsdl:message>
    
    <wsdl:message name="getRelationTypesResponse">
        <wsdl:part name="getRelationTypesResponse" element="tns:getRelationTypesResponse"/>
    </wsdl:message>

    <wsdl:message name="getRolesForRelationTypeByIdRequest">
        <wsdl:part name="getRolesForRelationTypeByIdRequest" element="tns:getRolesForRelationTypeByIdRequest"/>
    </wsdl:message>

    <wsdl:message name="getRolesForRelationTypeByIdResponse">
        <wsdl:part name="getRolesForRelationTypeByIdResponse" element="tns:getRolesForRelationTypeByIdResponse"/>
    </wsdl:message>

    <wsdl:message name="getRelationsRequest">
        <wsdl:part name="getRelationsRequest" element="tns:getRelationsRequest"/>
    </wsdl:message>

    <wsdl:message name="getRelationsResponse">
        <wsdl:part name="getRelationsResponse" element="tns:getRelationsResponse"/>
    </wsdl:message>
    
    <!--<wsdl:message name="getRelationsByType">-->
        <!--<wsdl:part name="getRelationsByType" element="tns:getRelationsByType"/>-->
    <!--</wsdl:message>-->
    <!---->
    <!--<wsdl:message name="getRelationsByTypeResponse">-->
        <!--<wsdl:part name="getRelationsByTypeResponse" element="tns:getRelationsByTypeResponse"/>-->
    <!--</wsdl:message>-->
    
    <wsdl:message name="getRelationsByTypeIdRequest">
        <wsdl:part name="getRelationsByTypeIdRequest" element="tns:getRelationsByTypeIdRequest"/>
    </wsdl:message>
    
    <wsdl:message name="getRelationsByTypeIdResponse">
        <wsdl:part name="getRelationsByTypeIdResponse" element="tns:getRelationsByTypeIdResponse"/>
    </wsdl:message>
    
    <wsdl:message name="getGraphByIdRequest">
        <wsdl:part name="getGraphByIdRequest" element="tns:getGraphByIdRequest"/>
    </wsdl:message>
    
    <wsdl:message name="getGraphByIdResponse">
        <wsdl:part name="getGraphByIdResponse" element="tns:getGraphByIdResponse"/>
    </wsdl:message>
    
    <wsdl:message name="getRelatedObjectsByIdRequest">
        <wsdl:part name="getRelatedObjectsByIdRequest" element="tns:getRelatedObjectsByIdRequest"/>
    </wsdl:message>
    
    <wsdl:message name="getRelatedObjectsByIdResponse">
        <wsdl:part name="getRelatedObjectsByIdResponse" element="tns:getRelatedObjectsByIdResponse"/>
    </wsdl:message>
    
    <wsdl:message name="getPathByIdRequest">
        <wsdl:part name="getPathByIdRequest" element="tns:getPathByIdRequest"/>
    </wsdl:message>
    
    <wsdl:message name="getPathByIdResponse">
        <wsdl:part name="getPathByIdResponse" element="tns:getPathByIdResponse"/>
    </wsdl:message>
    
    <wsdl:message name="mergeObjectsRequest">
        <wsdl:part name="mergeObjectsRequest" element="tns:mergeObjectsRequest"/>
    </wsdl:message>
    
    <wsdl:message name="mergeObjectsResponse">
        <wsdl:part name="mergeObjectsResponse" element="tns:mergeObjectsResponse"/>
    </wsdl:message>
    
    <wsdl:message name="splitObjectRequest">
        <wsdl:part name="splitObjectRequest" element="tns:splitObjectRequest"/>
    </wsdl:message>
    
    <wsdl:message name="splitObjectResponse">
        <wsdl:part name="splitObjectResponse" element="tns:splitObjectResponse"/>
    </wsdl:message>
    
    <wsdl:message name="getDocumentsRequest">
        <wsdl:part name="getDocumentsRequest" element="tns:getDocumentsRequest"/>
    </wsdl:message>    
    
    <wsdl:message name="getDocumentsResponse">
        <wsdl:part name="getDocumentsResponse" element="tns:getDocumentsResponse"/>
    </wsdl:message>
    
    <wsdl:message name="getFilteredDocumentsRequest">
        <wsdl:part name="getFilteredDocumentsRequest" element="tns:getFilteredDocumentsRequest"/>
    </wsdl:message>

    <wsdl:message name="getFilteredDocumentsResponse">
        <wsdl:part name="getFilteredDocumentsResponse" element="tns:getFilteredDocumentsResponse"/>
    </wsdl:message>

    <wsdl:message name="addDocumentRequest">
        <wsdl:part name="addDocumentRequest" element="tns:addDocumentRequest"/>
    </wsdl:message>

    <wsdl:message name="addDocumentResponse">
        <wsdl:part name="addDocumentResponse" element="tns:addDocumentResponse"/>
    </wsdl:message>
        
    <wsdl:message name="updateDocumentRequest">
        <wsdl:part name="updateDocumentRequest" element="tns:updateDocumentRequest"/>
    </wsdl:message>
    
    <wsdl:message name="updateDocumentResponse">
        <wsdl:part name="updateDocumentResponse" element="tns:updateDocumentResponse"/>
    </wsdl:message>
        
    <wsdl:message name="getDocumentByIdRequest">
        <wsdl:part name="getDocumentByIdRequest" element="tns:getDocumentByIdRequest"/>
    </wsdl:message>
    
    <wsdl:message name="getDocumentByIdResponse">
        <wsdl:part name="getDocumentByIdResponse" element="tns:getDocumentByIdResponse"/>        
    </wsdl:message>

    <wsdl:message name="getDocumentsContainingObjectByIdRequest">
        <wsdl:part name="getDocumentsContainingObjectByIdRequest" element="tns:getDocumentsContainingObjectByIdRequest"/>
    </wsdl:message>

    <wsdl:message name="getDocumentsContainingObjectByIdResponse">
        <wsdl:part name="getDocumentsContainingObjectByIdResponse" element="tns:getDocumentsContainingObjectByIdResponse"/>
    </wsdl:message>

    <wsdl:message name="getObjectsAndRelationsOccurringInDocumentRequest">
        <wsdl:part name="getObjectsAndRelationsOccurringInDocumentRequest" element="tns:getObjectsAndRelationsOccurringInDocumentRequest"/>
    </wsdl:message>

    <wsdl:message name="getObjectsAndRelationsOccurringInDocumentResponse">
        <wsdl:part name="getObjectsAndRelationsOccurringInDocumentResponse" element="tns:getObjectsAndRelationsOccurringInDocumentResponse"/>
    </wsdl:message>
    
    <wsdl:message name="idNotFoundException">
        <wsdl:part name="idNotFoundException" element="cms:idNotFoundException"/>
    </wsdl:message>

    <wsdl:portType name="DataProvider">
        
        <wsdl:operation name="getObjectTypes">
            <wsdl:input message="ws:getObjectTypesRequest"/>
            <wsdl:output message="ws:getObjectTypesResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="getObject">
            <wsdl:input message="ws:getObjectRequest"/>
            <wsdl:output message="ws:getObjectResponse"/>
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
        </wsdl:operation>

        <wsdl:operation name="getObjectsByIds">
            <wsdl:input message="ws:getObjectsByIdsRequest"/>
            <wsdl:output message="ws:getObjectsByIdsResponse"/>
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
        </wsdl:operation>
                
        <wsdl:operation name="getObjects">
            <wsdl:input message="ws:getObjectsRequest"/>
            <wsdl:output message="ws:getObjectsResponse"/>
        </wsdl:operation>
        
        <!--<wsdl:operation name="getObjectsByType">-->
            <!--<wsdl:input message="ws:getObjectsByType"/>-->
            <!--<wsdl:output message="ws:getObjectsByTypeResponse"/>-->
        <!--</wsdl:operation>-->
                
        <wsdl:operation name="getObjectsByTypeId">
            <wsdl:input message="ws:getObjectsByTypeIdRequest"/>
            <wsdl:output message="ws:getObjectsByTypeIdResponse"/>            
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
        </wsdl:operation>

        <wsdl:operation name="getFilteredObjects">
            <wsdl:input message="ws:getFilteredObjectsRequest"/>
            <wsdl:output message="ws:getFilteredObjectsResponse"/>
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
        </wsdl:operation>
                    
        <wsdl:operation name="getRelationTypes">
            <wsdl:input message="ws:getRelationTypesRequest"/>
            <wsdl:output message="ws:getRelationTypesResponse"/>
        </wsdl:operation>

        <wsdl:operation name="getRolesForRelationTypeById">
            <wsdl:input message="ws:getRolesForRelationTypeByIdRequest"/>
            <wsdl:output message="ws:getRolesForRelationTypeByIdResponse"/>
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
        </wsdl:operation>

        <wsdl:operation name="getRelations">
            <wsdl:input message="ws:getRelationsRequest"/>
            <wsdl:output message="ws:getRelationsResponse"/>
        </wsdl:operation>
        
        <!--<wsdl:operation name="getRelationsByType">-->
            <!--<wsdl:input message="ws:getRelationsByType"/>-->
            <!--<wsdl:output message="ws:getRelationsByTypeResponse"/>-->
        <!--</wsdl:operation>-->
        
        <wsdl:operation name="getRelationsByTypeId">
            <wsdl:input message="ws:getRelationsByTypeIdRequest"/>
            <wsdl:output message="ws:getRelationsByTypeIdResponse"/>            
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
        </wsdl:operation>
        
        <wsdl:operation name="getGraphById">
            <wsdl:input message="ws:getGraphByIdRequest"/>
            <wsdl:output message="ws:getGraphByIdResponse"/>            
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
        </wsdl:operation>
        
        <wsdl:operation name="getRelatedObjectsById">
            <wsdl:input message="ws:getRelatedObjectsByIdRequest"/>
            <wsdl:output message="ws:getRelatedObjectsByIdResponse"/>            
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
        </wsdl:operation>
        
        <wsdl:operation name="getPathById">
            <wsdl:input message="ws:getPathByIdRequest"/>
            <wsdl:output message="ws:getPathByIdResponse"/>            
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
        </wsdl:operation>
    
        <wsdl:operation name="mergeObjects">
            <wsdl:input message="ws:mergeObjectsRequest"/>
            <wsdl:output message="ws:mergeObjectsResponse"/>
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
        </wsdl:operation>
        
        <wsdl:operation name="splitObject">
            <wsdl:input message="ws:splitObjectRequest"/>
            <wsdl:output message="ws:splitObjectResponse"/>
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
        </wsdl:operation>
        
        <wsdl:operation name="addDocument">
            <wsdl:input message="ws:addDocumentRequest"/>
            <wsdl:output message="ws:addDocumentResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="updateDocument">
            <wsdl:input message="ws:updateDocumentRequest"/>
            <wsdl:output message="ws:updateDocumentResponse"/>
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
        </wsdl:operation>
                
        <wsdl:operation name="getDocuments">
            <wsdl:input message="ws:getDocumentsRequest"/>
            <wsdl:output message="ws:getDocumentsResponse"/>
        </wsdl:operation>

        <wsdl:operation name="getFilteredDocuments">
            <wsdl:input message="ws:getFilteredDocumentsRequest"/>
            <wsdl:output message="ws:getFilteredDocumentsResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="getDocumentById">
            <wsdl:input message="ws:getDocumentByIdRequest"/>
            <wsdl:output message="ws:getDocumentByIdResponse"/>
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
        </wsdl:operation>

        <wsdl:operation name="getDocumentsContainingObjectById">
            <wsdl:input message="ws:getDocumentsContainingObjectByIdRequest"/>
            <wsdl:output message="ws:getDocumentsContainingObjectByIdResponse"/>
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
        </wsdl:operation>

        <wsdl:operation name="getObjectsAndRelationsOccurringInDocument">
            <wsdl:input message="ws:getObjectsAndRelationsOccurringInDocumentRequest"/>
            <wsdl:output message="ws:getObjectsAndRelationsOccurringInDocumentResponse"/>
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
        </wsdl:operation>
        
    </wsdl:portType>
    
    <wsdl:binding name="DataProviderBinging" type="ws:DataProvider">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        
        <wsdl:operation name="getObjectTypes">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/getObjectTypes"/>
            <wsdl:input>
                <soap:body parts="getObjectTypesRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getObjectTypesResponse" use="literal"/>
            </wsdl:output>            
        </wsdl:operation>
        
        <wsdl:operation name="getObjects">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/getObjects"/>
            <wsdl:input>
                <soap:body parts="getObjectsRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getObjectsResponse" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getObject">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/getObject"/>
            <wsdl:input>
                <soap:body parts="getObjectRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getObjectResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getObjectsByIds">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/getObjectsByIds"/>
            <wsdl:input>
                <soap:body parts="getObjectsByIdsRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getObjectsByIdsResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <!--<wsdl:operation name="getObjectsByType">-->
            <!--<soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/getObjectsByType"/>-->
            <!--<wsdl:input>-->
                <!--<soap:body parts="getObjectsByType" use="literal"/>-->
                <!--<soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>-->
            <!--</wsdl:input>-->
            <!--<wsdl:output>-->
                <!--<soap:body parts="getObjectsByTypeResponse" use="literal"/>-->
            <!--</wsdl:output>-->
        <!--</wsdl:operation>-->

        <wsdl:operation name="getObjectsByTypeId">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/getObjectsByTypeId"/>
            <wsdl:input>
                <soap:body parts="getObjectsByTypeIdRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getObjectsByTypeIdResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getFilteredObjects">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/getFilteredObjects"/>
            <wsdl:input>
                <soap:body parts="getFilteredObjectsRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getFilteredObjectsResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="getRelationTypes">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/getRelationTypes"/>
            <wsdl:input>
                <soap:body parts="getRelationTypesRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getRelationTypesResponse" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getRolesForRelationTypeById">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/getRolesForRelationTypeById"/>
            <wsdl:input>
                <soap:body parts="getRolesForRelationTypeByIdRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getRolesForRelationTypeByIdResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getRelations">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/getRelations"/>
            <wsdl:input>
                <soap:body parts="getRelationsRequest" use="literal"/>
                <soap:header message="ws:usernameToken" part="usernameToken" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getRelationsResponse" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <!--<wsdl:operation name="getRelationsByType">-->
            <!--<soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/getRelationsByType"/>-->
            <!--<wsdl:input>-->
                <!--<soap:body parts="getRelationsByType" use="literal"/>-->
                <!--<soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>-->
            <!--</wsdl:input>-->
            <!--<wsdl:output>-->
                <!--<soap:body parts="getRelationsByTypeResponse" use="literal"/>-->
            <!--</wsdl:output>-->
        <!--</wsdl:operation>-->
    
        <wsdl:operation name="getRelationsByTypeId">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/getRelationsByTypeId"/>
            <wsdl:input>
                <soap:body parts="getRelationsByTypeIdRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getRelationsByTypeIdResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    
        <wsdl:operation name="getGraphById">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/getGraphById"/>
            <wsdl:input>
                <soap:body parts="getGraphByIdRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getGraphByIdResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    
        <wsdl:operation name="getRelatedObjectsById">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/getRelatedObjectsById"/>
            <wsdl:input>
                <soap:body parts="getRelatedObjectsByIdRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getRelatedObjectsByIdResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    
        <wsdl:operation name="getPathById">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/getPathById"/>
            <wsdl:input>
                <soap:body parts="getPathByIdRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getPathByIdResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="mergeObjects">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/mergeObjects"/>
            <wsdl:input>
                <soap:body parts="mergeObjectsRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="mergeObjectsResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="splitObject">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/splitObject"/>
            <wsdl:input>
                <soap:body parts="splitObjectRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="splitObjectResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="addDocument">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/addDocument"/>
            <wsdl:input>
                <soap:body parts="addDocumentRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="addDocumentResponse" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="updateDocument">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/updateDocument"/>
            <wsdl:input>
                <soap:body parts="updateDocumentRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="updateDocumentResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    
        <wsdl:operation name="getDocuments">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/getDocuments"/>
            <wsdl:input>
                <soap:body parts="getDocumentsRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getDocumentsResponse" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getFilteredDocuments">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/getFilteredDocuments"/>
            <wsdl:input>
                <soap:body parts="getFilteredDocumentsRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getFilteredDocumentsResponse" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    
        <wsdl:operation name="getDocumentById">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/getDocumentById"/>
            <wsdl:input>
                <soap:body parts="getDocumentByIdRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getDocumentByIdResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getDocumentsContainingObjectById">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/getDocumentsContainingObjectById"/>
            <wsdl:input>
                <soap:body parts="getDocumentsContainingObjectByIdRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getDocumentsContainingObjectByIdResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getObjectsAndRelationsOccurringInDocument">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DataProvider/getObjectsAndRelationsOccurringInDocument"/>
            <wsdl:input>
                <soap:body parts="getObjectsAndRelationsOccurringInDocumentRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getObjectsAndRelationsOccurringInDocumentResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="DataProviderService">
        <wsdl:port name="DataProviderPort" binding="ws:DataProviderBinging">
            <soap:address location="http://localhost:9100/soap/DataProvider"/>
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>