Commons/src/main/resources/wsdl/DocumentProcessor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.commons.textan.ufal.mff.cuni.cz"    
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tns="http://models.commons.textan.ufal.mff.cuni.cz/documentProcessor"
    xmlns:cms="http://models.commons.textan.ufal.mff.cuni.cz"
    xmlns:ws="http://ws.commons.textan.ufal.mff.cuni.cz">
    
    <wsdl:types>
        <xs:schema targetNamespace="http://models.commons.textan.ufal.mff.cuni.cz/documentProcessor">
            <xs:include schemaLocation="../schemas/DocumentProcessorPartTypes.xsd"/>
        </xs:schema>
    </wsdl:types>
    
    <wsdl:message name="ticket">
        <wsdl:part name="ticket" element="cms:ticket"/>
    </wsdl:message>
    
    <wsdl:message name="editingTicket">
        <wsdl:part name="editingTicket" element="cms:editingTicket"/>
    </wsdl:message>    
    
    <wsdl:message name="getEditingTicket">
        <wsdl:part name="getEditingTicket" element="tns:getEditingTicket"/>
    </wsdl:message>
    
    <wsdl:message name="getEditingTicketResponse">
        <wsdl:part name="getEditingTicketResponse" element="tns:getEditingTicketResponse"/>
    </wsdl:message>
         
    <wsdl:message name="getEntitiesFromString">
        <wsdl:part name="getEntitiesFromString" element="tns:getEntitiesFromString"/>
    </wsdl:message>
    
    <wsdl:message name="getEntitiesFromStringResponse">
        <wsdl:part name="getEntitiesFromStringResponse" element="tns:getEntitiesFromStringResponse"/>
    </wsdl:message>
    
    <wsdl:message name="getEntitiesById">
        <wsdl:part name="getEntitiesById" element="tns:getEntitiesById"/>
    </wsdl:message>
    
    <wsdl:message name="getEntitiesByIdResponse">
        <wsdl:part name="getEntitiesByIdResponse" element="tns:getEntitiesByIdResponse"/>
    </wsdl:message>
    
    <wsdl:message name="getAssignmentsFromString">
        <wsdl:part name="getAssignmentsFromString" element="tns:getAssignmentsFromString"/>
    </wsdl:message>
    
    <wsdl:message name="getAssignmentsFromStringResponse">
        <wsdl:part name="getAssignmentsFromStringResponse" element="tns:getAssignmentsFromStringResponse"/>
    </wsdl:message>
    
    <wsdl:message name="getAssignmentsById">
        <wsdl:part name="getAssignmentsById" element="tns:getAssignmentsById"/>
    </wsdl:message>
    
    <wsdl:message name="getAssignmentsByIdResponse">
        <wsdl:part name="getAssignmentsByIdResponse" element="tns:getAssignmentsByIdResponse"/>
    </wsdl:message>
    
    <wsdl:message name="saveProcessedDocumentById">
        <wsdl:part name="saveProcessedDocumentById" element="tns:saveProcessedDocumentById"/>
    </wsdl:message>
    
    <wsdl:message name="saveProcessedDocumentByIdResponse">
        <wsdl:part name="saveProcessedDocumentByIdResponse" element="tns:saveProcessedDocumentByIdResponse"/>
    </wsdl:message>
    
    <wsdl:message name="saveProcessedDocumentFromString">
        <wsdl:part name="saveProcessedDocumentFromString" element="tns:saveProcessedDocumentFromString"/>
    </wsdl:message>
    
    <wsdl:message name="saveProcessedDocumentFromStringResponse">
        <wsdl:part name="saveProcessedDocumentFromStringResponse" element="tns:saveProcessedDocumentFromStringResponse"/>
    </wsdl:message>

    <!-- TODO: Add getProblemsFromString or something like that -->
    <wsdl:message name="getProblems">
        <wsdl:part name="getProblems" element="tns:getProblems"/>
    </wsdl:message>
    
    <wsdl:message name="getProblemsResponse">
        <wsdl:part name="getProblemsResponse" element="tns:getProblemsResponse"/>
    </wsdl:message>

    <wsdl:message name="idNotFoundException">
        <wsdl:part name="idNotFoundException" element="cms:idNotFoundException"/>
    </wsdl:message>
    
    <wsdl:portType name="DocumentProcessor">
        
        <wsdl:operation name="getEditingTicket">            
            <wsdl:input message="ws:getEditingTicket"/>
            <wsdl:output message="ws:getEditingTicketResponse"/>
        </wsdl:operation>

        <wsdl:operation name="getEntitiesFromString">
            <wsdl:input message="ws:getEntitiesFromString"/>
            <wsdl:output message="ws:getEntitiesFromStringResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="getEntitiesById">
            <wsdl:input message="ws:getEntitiesById"/>
            <wsdl:output message="ws:getEntitiesByIdResponse"/>
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
        </wsdl:operation>
        
        <wsdl:operation name="getAssignmentsFromString">
            <wsdl:input message="ws:getAssignmentsFromString"/>
            <wsdl:output message="ws:getAssignmentsFromStringResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="getAssignmentsById">
            <wsdl:input message="ws:getAssignmentsById"/>
            <wsdl:output message="ws:getAssignmentsByIdResponse"/>
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
        </wsdl:operation>
        
        <wsdl:operation name="saveProcessedDocumentFromString">
            <wsdl:input message="ws:saveProcessedDocumentFromString"/>
            <wsdl:output message="ws:saveProcessedDocumentFromStringResponse"/>
            <!--<wsdl:fault name="" message=""></wsdl:fault>-->
        </wsdl:operation>
        
        <wsdl:operation name="saveProcessedDocumentById">
            <wsdl:input message="ws:saveProcessedDocumentById"/>
            <wsdl:output message="ws:saveProcessedDocumentByIdResponse"/>
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
        </wsdl:operation>
        
        <wsdl:operation name="getProblems">
            <wsdl:input message="ws:getProblems"/>
            <wsdl:output message="ws:getProblemsResponse"/>
        </wsdl:operation>
        
    </wsdl:portType>
    
    <wsdl:binding name="DocumentProcessor" type="ws:DocumentProcessor">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        
        <wsdl:operation name="getEditingTicket">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/getTicket"/>
            <wsdl:input>
                <soap:body parts="getEditingTicket" use="literal"/>
                <soap:header message="ws:ticket" use="literal" part="ticket"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getEditingTicketResponse" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
                
        <wsdl:operation name="getEntitiesFromString">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/getEntitiesFromString"/>
            <wsdl:input>
                <soap:body parts="getEntitiesFromString" use="literal"/>                
                <soap:header message="ws:editingTicket" part="editingTicket" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getEntitiesFromStringResponse" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getEntitiesById">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/getEntitiesById"/>
            <wsdl:input>
                <soap:body parts="getEntitiesById" use="literal"/>
                <soap:header message="ws:editingTicket" part="editingTicket" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getEntitiesByIdResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="getAssignmentsFromString">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/getAssignmentsFromString"/>
            <wsdl:input>
                <soap:body parts="getAssignmentsFromString" use="literal"/>
                <soap:header message="ws:editingTicket" part="editingTicket" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getAssignmentsFromStringResponse" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    
        <wsdl:operation name="getAssignmentsById">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/getAssignmentsById"/>
            <wsdl:input>
                <soap:body parts="getAssignmentsById" use="literal"/>
                <soap:header message="ws:editingTicket" part="editingTicket" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getAssignmentsByIdResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="saveProcessedDocumentFromString">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/saveProcessedDocumentFromString"/>
            <wsdl:input>
                <soap:body parts="saveProcessedDocumentFromString" use="literal"/>
                <soap:header message="ws:editingTicket" part="editingTicket" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="saveProcessedDocumentFromStringResponse" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    
        <wsdl:operation name="saveProcessedDocumentById">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/saveProcessedDocumentById"/>
            <wsdl:input>
                <soap:body parts="saveProcessedDocumentById" use="literal"/>
                <soap:header message="ws:editingTicket" part="editingTicket" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="saveProcessedDocumentByIdResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    
        <wsdl:operation name="getProblems">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/getProblems"/>
            <wsdl:input>
                <soap:body parts="getProblems" use="literal"/>
                <soap:header message="ws:editingTicket" part="editingTicket" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getProblemsResponse" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="DocumentProcessorService">
        <wsdl:port name="DocumentProcessor" binding="ws:DocumentProcessor">
            <soap:address location="http://localhost/soap/DocumentProvider"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>