Commons/src/main/resources/wsdl/DocumentProcessor.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.commons.textan.ufal.mff.cuni.cz"    
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tns="http://models.commons.textan.ufal.mff.cuni.cz/documentProcessor"
    xmlns:cms="http://models.commons.textan.ufal.mff.cuni.cz"
    xmlns:ws="http://ws.commons.textan.ufal.mff.cuni.cz">
    
    <wsdl:types>
        <xs:schema targetNamespace="http://models.commons.textan.ufal.mff.cuni.cz/documentProcessor">
            <xs:include schemaLocation="../schemas/DocumentProcessorPartTypes.xsd"/>
        </xs:schema>
    </wsdl:types>
    
    <wsdl:message name="usernameToken">
        <wsdl:part name="usernameToken" element="cms:usernameToken"/>
    </wsdl:message>
    
    <!--<wsdl:message name="editingTicket">
        <wsdl:part name="editingTicket" element="tns:editingTicket"/>
    </wsdl:message> -->
    
    <wsdl:message name="getEditingTicketRequest">
        <wsdl:part name="getEditingTicketRequest" element="tns:getEditingTicketRequest"/>
    </wsdl:message>
    
    <wsdl:message name="getEditingTicketResponse">
        <wsdl:part name="getEditingTicketResponse" element="tns:getEditingTicketResponse"/>
    </wsdl:message>
         
    <wsdl:message name="getEntitiesFromStringRequest">
        <wsdl:part name="getEntitiesFromStringRequest" element="tns:getEntitiesFromStringRequest"/>
        <wsdl:part name="editingTicket" element="tns:editingTicket"/>
    </wsdl:message>
    
    <wsdl:message name="getEntitiesFromStringResponse">
        <wsdl:part name="getEntitiesFromStringResponse" element="tns:getEntitiesFromStringResponse"/>
    </wsdl:message>
    
    <wsdl:message name="getEntitiesByIdRequest">
        <wsdl:part name="getEntitiesByIdRequest" element="tns:getEntitiesByIdRequest"/>
        <wsdl:part name="editingTicket" element="tns:editingTicket"/>
    </wsdl:message>
    
    <wsdl:message name="getEntitiesByIdResponse">
        <wsdl:part name="getEntitiesByIdResponse" element="tns:getEntitiesByIdResponse"/>
    </wsdl:message>
    
    <wsdl:message name="getAssignmentsFromStringRequest">
        <wsdl:part name="getAssignmentsFromStringRequest" element="tns:getAssignmentsFromStringRequest"/>
        <wsdl:part name="editingTicket" element="tns:editingTicket"/>
    </wsdl:message>
    
    <wsdl:message name="getAssignmentsFromStringResponse">
        <wsdl:part name="getAssignmentsFromStringResponse" element="tns:getAssignmentsFromStringResponse"/>
    </wsdl:message>
    
    <wsdl:message name="getAssignmentsByIdRequest">
        <wsdl:part name="getAssignmentsByIdRequest" element="tns:getAssignmentsByIdRequest"/>
        <wsdl:part name="editingTicket" element="tns:editingTicket"/>
    </wsdl:message>
    
    <wsdl:message name="getAssignmentsByIdResponse">
        <wsdl:part name="getAssignmentsByIdResponse" element="tns:getAssignmentsByIdResponse"/>
    </wsdl:message>

    <wsdl:message name="getRelationsFromStringRequest">
        <wsdl:part name="getRelationsFromStringRequest" element="tns:getRelationsFromStringRequest"/>
        <wsdl:part name="editingTicket" element="tns:editingTicket"/>
    </wsdl:message>

    <wsdl:message name="getRelationsFromStringResponse">
        <wsdl:part name="getRelationsFromStringResponse" element="tns:getRelationsFromStringResponse"/>
    </wsdl:message>

    <wsdl:message name="getRelationsByIdRequest">
        <wsdl:part name="getRelationsByIdRequest" element="tns:getRelationsByIdRequest"/>
        <wsdl:part name="editingTicket" element="tns:editingTicket"/>
    </wsdl:message>

    <wsdl:message name="getRelationsByIdResponse">
        <wsdl:part name="getRelationsByIdResponse" element="tns:getRelationsByIdResponse"/>
    </wsdl:message>
    
    <wsdl:message name="saveProcessedDocumentByIdRequest">
        <wsdl:part name="saveProcessedDocumentByIdRequest" element="tns:saveProcessedDocumentByIdRequest"/>
        <wsdl:part name="editingTicket" element="tns:editingTicket"/>
    </wsdl:message>
    
    <wsdl:message name="saveProcessedDocumentByIdResponse">
        <wsdl:part name="saveProcessedDocumentByIdResponse" element="tns:saveProcessedDocumentByIdResponse"/>
    </wsdl:message>
    
    <wsdl:message name="saveProcessedDocumentFromStringRequest">
        <wsdl:part name="saveProcessedDocumentFromStringRequest" element="tns:saveProcessedDocumentFromStringRequest"/>
        <wsdl:part name="editingTicket" element="tns:editingTicket"/>
    </wsdl:message>
    
    <wsdl:message name="saveProcessedDocumentFromStringResponse">
        <wsdl:part name="saveProcessedDocumentFromStringResponse" element="tns:saveProcessedDocumentFromStringResponse"/>
    </wsdl:message>
    
    <wsdl:message name="rewriteAndSaveProcessedDocumentByIdRequest">
        <wsdl:part name="rewriteAndSaveProcessedDocumentByIdRequest" element="tns:rewriteAndSaveProcessedDocumentByIdRequest"/>
        <wsdl:part name="editingTicket" element="tns:editingTicket"/>
    </wsdl:message>

    <wsdl:message name="rewriteAndSaveProcessedDocumentByIdResponse">
        <wsdl:part name="rewriteAndSaveProcessedDocumentByIdResponse" element="tns:rewriteAndSaveProcessedDocumentByIdResponse"/>
    </wsdl:message>

    <wsdl:message name="getProblemsRequest">
        <wsdl:part name="getProblemsRequest" element="tns:getProblemsRequest"/>
        <wsdl:part name="editingTicket" element="tns:editingTicket"/>
    </wsdl:message>

    <wsdl:message name="getProblemsResponse">
        <wsdl:part name="getProblemsResponse" element="tns:getProblemsResponse"/>
    </wsdl:message>

    <!--<wsdl:message name="getProblemsByIdRequest">
        <wsdl:part name="getProblemsByIdRequest" element="tns:getProblemsByIdRequest"/>
        <wsdl:part name="editingTicket" element="tns:editingTicket"/>
    </wsdl:message>

    <wsdl:message name="getProblemsByIdResponse">
        <wsdl:part name="getProblemsByIdResponse" element="tns:getProblemsByIdResponse"/>
    </wsdl:message>

    <wsdl:message name="getProblemsFromStringRequest">
        <wsdl:part name="getProblemsFromStringRequest" element="tns:getProblemsFromStringRequest"/>
        <wsdl:part name="editingTicket" element="tns:editingTicket"/>
    </wsdl:message>

    <wsdl:message name="getProblemsFromStringResponse">
        <wsdl:part name="getProblemsFromStringResponse" element="tns:getProblemsFromStringResponse"/>
    </wsdl:message>-->

    <wsdl:message name="idNotFoundException">
        <wsdl:part name="idNotFoundException" element="cms:idNotFoundException"/>
    </wsdl:message>

    <wsdl:message name="documentChangedException">
        <wsdl:part name="documentChangedException" element="tns:documentChangedException"/>
    </wsdl:message>
    
    <wsdl:message name="documentAlreadyProcessedException">
        <wsdl:part name="documentAlreadyProcessedException" element="tns:documentAlreadyProcessedException"/>
    </wsdl:message>
    
    <wsdl:portType name="DocumentProcessor">
        
        <wsdl:operation name="getEditingTicket">            
            <wsdl:input message="ws:getEditingTicketRequest"/>
            <wsdl:output message="ws:getEditingTicketResponse"/>
        </wsdl:operation>

        <wsdl:operation name="getEntitiesFromString">
            <wsdl:input message="ws:getEntitiesFromStringRequest"/>
            <wsdl:output message="ws:getEntitiesFromStringResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="getEntitiesById">
            <wsdl:input message="ws:getEntitiesByIdRequest"/>
            <wsdl:output message="ws:getEntitiesByIdResponse"/>
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
            <wsdl:fault name="documentChangedException" message="ws:documentChangedException"/>
            <wsdl:fault name="documentAlreadyProcessedException" message="ws:documentAlreadyProcessedException"/>
        </wsdl:operation>
        
        <wsdl:operation name="getAssignmentsFromString">
            <wsdl:input message="ws:getAssignmentsFromStringRequest"/>
            <wsdl:output message="ws:getAssignmentsFromStringResponse"/>
        </wsdl:operation>
        
        <wsdl:operation name="getAssignmentsById">
            <wsdl:input message="ws:getAssignmentsByIdRequest"/>
            <wsdl:output message="ws:getAssignmentsByIdResponse"/>
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
            <wsdl:fault name="documentChangedException" message="ws:documentChangedException"/>
            <wsdl:fault name="documentAlreadyProcessedException" message="ws:documentAlreadyProcessedException"/>
        </wsdl:operation>

        <wsdl:operation name="getRelationsFromString">
            <wsdl:input message="ws:getRelationsFromStringRequest"/>
            <wsdl:output message="ws:getRelationsFromStringResponse"/>
        </wsdl:operation>

        <wsdl:operation name="getRelationsById">
            <wsdl:input message="ws:getRelationsByIdRequest"/>
            <wsdl:output message="ws:getRelationsByIdResponse"/>
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
            <wsdl:fault name="documentChangedException" message="ws:documentChangedException"/>
            <wsdl:fault name="documentAlreadyProcessedException" message="ws:documentAlreadyProcessedException"/>
        </wsdl:operation>
        
        <wsdl:operation name="saveProcessedDocumentFromString">
            <wsdl:input message="ws:saveProcessedDocumentFromStringRequest"/>
            <wsdl:output message="ws:saveProcessedDocumentFromStringResponse"/>
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
        </wsdl:operation>
        
        <wsdl:operation name="saveProcessedDocumentById">
            <wsdl:input message="ws:saveProcessedDocumentByIdRequest"/>
            <wsdl:output message="ws:saveProcessedDocumentByIdResponse"/>
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
            <wsdl:fault name="documentChangedException" message="ws:documentChangedException"/>
            <wsdl:fault name="documentAlreadyProcessedException" message="ws:documentAlreadyProcessedException"/>
        </wsdl:operation>

        <wsdl:operation name="rewriteAndSaveProcessedDocumentById">
            <wsdl:input message="ws:rewriteAndSaveProcessedDocumentByIdRequest"/>
            <wsdl:output message="ws:rewriteAndSaveProcessedDocumentByIdResponse"/>
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
            <wsdl:fault name="documentAlreadyProcessedException" message="ws:documentAlreadyProcessedException"/>
        </wsdl:operation>

        <wsdl:operation name="getProblems">
            <wsdl:input message="ws:getProblemsRequest"/>
            <wsdl:output message="ws:getProblemsResponse"/>
        </wsdl:operation>
        
        <!--<wsdl:operation name="getProblemsById">
            <wsdl:input message="ws:getProblemsByIdRequest"/>
            <wsdl:output message="ws:getProblemsByIdResponse"/>
            <wsdl:fault name="idNotFoundException" message="ws:idNotFoundException"/>
        </wsdl:operation>

        <wsdl:operation name="getProblemsFromString">
            <wsdl:input message="ws:getProblemsFromStringRequest"/>
            <wsdl:output message="ws:getProblemsFromStringResponse"/>
        </wsdl:operation>-->
        
    </wsdl:portType>
    
    <wsdl:binding name="DocumentProcessorBinging" type="ws:DocumentProcessor">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        
        <wsdl:operation name="getEditingTicket">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/getTicket"/>
            <wsdl:input>
                <soap:body parts="getEditingTicketRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getEditingTicketResponse" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
                
        <wsdl:operation name="getEntitiesFromString">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/getEntitiesFromString"/>
            <wsdl:input>
                <soap:body parts="getEntitiesFromStringRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
                <soap:header message="ws:getEntitiesFromStringRequest" part="editingTicket" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getEntitiesFromStringResponse" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="getEntitiesById">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/getEntitiesById"/>
            <wsdl:input>
                <soap:body parts="getEntitiesByIdRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
                <soap:header message="ws:getEntitiesByIdRequest" part="editingTicket" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getEntitiesByIdResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="documentChangedException">
                <soap:fault name="documentChangedException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="documentAlreadyProcessedException">
                <soap:fault name="documentAlreadyProcessedException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="getAssignmentsFromString">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/getAssignmentsFromString"/>
            <wsdl:input>
                <soap:body parts="getAssignmentsFromStringRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
                <soap:header message="ws:getAssignmentsFromStringRequest" part="editingTicket" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getAssignmentsFromStringResponse" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    
        <wsdl:operation name="getAssignmentsById">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/getAssignmentsById"/>
            <wsdl:input>
                <soap:body parts="getAssignmentsByIdRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
                <soap:header message="ws:getAssignmentsByIdRequest" part="editingTicket" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getAssignmentsByIdResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="documentChangedException">
                <soap:fault name="documentChangedException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="documentAlreadyProcessedException">
                <soap:fault name="documentAlreadyProcessedException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getRelationsFromString">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/getRelationsFromString"/>
            <wsdl:input>
                <soap:body parts="getRelationsFromStringRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
                <soap:header message="ws:getRelationsFromStringRequest" part="editingTicket" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getRelationsFromStringResponse" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getRelationsById">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/getRelationsById"/>
            <wsdl:input>
                <soap:body parts="getRelationsByIdRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
                <soap:header message="ws:getRelationsByIdRequest" part="editingTicket" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getRelationsByIdResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="documentChangedException">
                <soap:fault name="documentChangedException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="documentAlreadyProcessedException">
                <soap:fault name="documentAlreadyProcessedException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="saveProcessedDocumentFromString">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/saveProcessedDocumentFromString"/>
            <wsdl:input>
                <soap:body parts="saveProcessedDocumentFromStringRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
                <soap:header message="ws:saveProcessedDocumentFromStringRequest" part="editingTicket" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="saveProcessedDocumentFromStringResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
    
        <wsdl:operation name="saveProcessedDocumentById">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/saveProcessedDocumentById"/>
            <wsdl:input>
                <soap:body parts="saveProcessedDocumentByIdRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
                <soap:header message="ws:saveProcessedDocumentByIdRequest" part="editingTicket" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="saveProcessedDocumentByIdResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="documentChangedException">
                <soap:fault name="documentChangedException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="documentAlreadyProcessedException">
                <soap:fault name="documentAlreadyProcessedException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="rewriteAndSaveProcessedDocumentById">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/rewriteAndSaveProcessedDocumentById"/>
            <wsdl:input>
                <soap:body parts="rewriteAndSaveProcessedDocumentByIdRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
                <soap:header message="ws:rewriteAndSaveProcessedDocumentByIdRequest" part="editingTicket" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="rewriteAndSaveProcessedDocumentByIdResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal" />
            </wsdl:fault>
            <wsdl:fault name="documentAlreadyProcessedException">
                <soap:fault name="documentAlreadyProcessedException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getProblems">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/getProblems"/>
            <wsdl:input>
                <soap:body parts="getProblemsRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
                <soap:header message="ws:getProblemsRequest" part="editingTicket" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getProblemsResponse" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    
        <!--<wsdl:operation name="getProblemsById">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/getProblemsById"/>
            <wsdl:input>
                <soap:body parts="getProblemsByIdRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
                <soap:header message="ws:getProblemsByIdRequest" part="editingTicket" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getProblemsByIdResponse" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="idNotFoundException">
                <soap:fault name="idNotFoundException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="getProblemsFromString">
            <soap:operation soapAction="http://ws.commons.textan.ufal.mff.cuni.cz/DocumentProcessor/getProblemsFromString"/>
            <wsdl:input>
                <soap:body parts="getProblemsFromStringRequest" use="literal"/>
                <soap:header message="ws:usernameToken" use="literal" part="usernameToken"/>
                <soap:header message="ws:getProblemsFromStringRequest" part="editingTicket" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="getProblemsFromStringResponse" use="literal"/>
            </wsdl:output>
        </wsdl:operation>-->
    </wsdl:binding>
    
    <wsdl:service name="DocumentProcessorService">
        <wsdl:port name="DocumentProcessorPort" binding="ws:DocumentProcessorBinging">
            <soap:address location="http://localhost/soap/DocumentProvider"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>