Commons/src/main/resources/schemas/Entity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://models.commons.textan.ufal.mff.cuni.cz"
           xmlns="http://models.commons.textan.ufal.mff.cuni.cz"
           elementFormDefault="qualified">

    <xs:element name="entity" type="Entity" />

    <xs:complexType name="Entity">
        <xs:sequence>
            <xs:element name="value" type="xs:string"/>
            <xs:element name="type" type="xs:int"/>
            <xs:element name="position" type="xs:int"/>
            <xs:element name="length" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>