Commons/src/main/resources/schemas/RelationType.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://models.commons.textan.ufal.mff.cuni.cz"
           xmlns="http://models.commons.textan.ufal.mff.cuni.cz"
           elementFormDefault="qualified">

    <xs:element name="relationType" type="RelationType" />

    <xs:complexType name="RelationType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>