Commons/src/main/resources/schemas/UsernameToken.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://models.commons.textan.ufal.mff.cuni.cz"
           xmlns="http://models.commons.textan.ufal.mff.cuni.cz"
           elementFormDefault="qualified">

    <xs:element name="usernameToken" type="UsernameToken"/>

    <xs:complexType name="UsernameToken">
        <xs:sequence>
            <xs:element name="username" type="xs:string"/> <!--TODO: add no empty spring restriction -->
        </xs:sequence>
    </xs:complexType>
</xs:schema>